.error-boundary-container {
    padding: 2.5rem;
    background-color: #7f1d1d;
    color: white;
    height: 100vh;
    overflow: auto;
}

.error-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.error-subtitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.error-pre {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    font-family: monospace;
}

.error-stack {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    white-space: pre-wrap;
    font-family: monospace;
}